.main_div{
	width: 1100px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}

body{
	font-family:"Lucida Grande";
}

.office_list{
	width: 600px;
}

table.office_list tr th{
	font-weight: bold;
	color: #888;
	border-bottom: 1px solid;
	border-top: 1px solid;
}

table.office_list tr{
	height: 26px;
}

table.office_list tr:hover{
	background-color: #eee;
}

.getTurn{
	cursor: pointer;
	font-size: 20px;
	clear: both;
    background-color: #377DC3;
    border: 1px solid #377DC3;
    color: #fff;
    padding: 5px 23px;
    margin: 9px -1px;
    text-decoration: none;
}

.yourTurn{
	font-size: 50px;
	font-weight: bold;
	border: 1px solid #ccc;
	width: 300px;
	text-align: center;
}