<div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#/users/dashboard"><i class="fa fa-home fa-fw"></i>Mi cuenta</a></li>
                <li><a href="#/users/edit"><i class="fa fa-list-alt fa-fw"></i>Editar información</a></li>
                <li><a href="#/users/password"><i class="fa fa-list-alt fa-fw"></i>Cambiar contraseña</a></li>
                <li><a href="#/users/historial"><i class="fa fa-list-alt fa-fw"></i>Historial de turnos</a></li>
                <li><a href="#/users/logout"><i class="fa fa-file-o fa-fw"></i>Salir</a></li>
            </ul>
</div>