<div class="main_div">
  	<div class="menu_options">
  		<span><a ng-href="#/organizations/myoffices">My offices</a></span>
  		<span><a ng-href="#/organizations/mymodules">My modules</a></span>
  		<span><a ng-href="#/organizations/myemployees">My employees</a></span>
  		<span><a ng-href="#/organizations/myreports">My reports</a></span>
  		<span><a ng-href="#/organizations/mysetup">My setup</a></span>
  	</div>
  	</p>
  <div class="organizations_container">
  	<h2>{{organization.name}}</h2>
    <div ng-include="templateUrl"></div>
  </div>
  </div>